.request-content
  display: flex
  flex-wrap: wrap
  .info-content, .info-form
    flex: 1 0 50%
    white-space: nowrap
    text-align: center
    box-sizing: border-box
    .title-content
      padding: 50px
      .title 
        color: #7046C4
        font-size: 70px
      .content
        font-size: 18px