<section class="request-content">
  <div class="info-section">
    <div class="title-content">
      <h1 class="title">Loan App</h1>
      <p class="content">Solicita tu crédito</p>
    </div>
  </div>
  <div class="info-section">
    <app-request-form></app-request-form>
  </div>
  <div class="info-section">
    <app-user-fields 
      [selectedRange]="selectedRange">
    </app-user-fields>
  </div>
  <div class="info-section">
    <app-loan-status
      [status]="status">
    </app-loan-status>
  </div>
</section>